@using Event-Management-Web-App.Models
@model Event
@{
    ViewData["Title"] = "Confirmation";
}
<h1>Thank You for Registering!</h1>
<hr />

<partial name="_EventDetailsConfirmation" model="@Model" />


<p><strong>List of attendees:</strong></p>
@if (Model.Attendees != null && Model.Attendees.Any())
{
    <ul>
        @foreach (var attendee in Model.Attendees)
        {
            <li>@attendee.AttendeeName (@attendee.AttendeeEmail)</li>
        }
    </ul>
}
else
{
    <p>No attendees registered yet.</p>
}

<p>
    <a asp-action="Index" asp-controller="Event"  asp-route-eventId="@Model.EventId" class="btn btn-primary">Return to Home Page</a>
</p>
